/*************************************************INDEX.HTML******************************************************/


*{
    box-sizing: border-box;
    font-size:16px;
    margin:0px;
    
}

body{
    background-color: hsl(0, 15%, 87%)
}

nav{
    display:flex;
    width:100%;
    /* border: 5px solid red; */
    align-items: center;
    justify-content:space-between;
    background-color: black;
    
}

nav ul{
    max-width: 1440px;
    width: 100%; 
}

nav ul li{
    list-style: none;
    display:flex;
    
}

.navUL{
    float:right;
}

nav ul a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    display:inline-block ;
    margin-right:30px;
    font-size: 1.1em;
    padding:5px;
    text-transform: uppercase;       
}

nav ul a:hover{
    border-bottom:2px solid hsl(178, 88%, 57%);
    font-size:1.2em;
    
}



.dropdown{
    /* border:5px solid hsl(120, 89%, 43%); */
    height: 50%;
    margin:10px

}

.dropdownButton{
    font-size: 1.1em;
    margin:5px;
    padding:5px 10px;
    cursor: pointer;
}

.dropdownButton:hover{
    background-color:hsl(178, 88%, 57%);
}

.dropdown .content{
    /* border:5px solid yellow; */
    border-radius:10px;
    /* border:5px solid white; */
    background-color: hsl(0, 2%, 24%);
    position: absolute;
    height:80vh;
    width:290px;
    font-size:1.1em;
    display:none;
    box-shadow: 5px 5px 15px hsl(178, 88%, 57%) ;
    

}

.content .contentStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .contentStyle h1{
    font-size:1.5em;
    color: white;
}
.content .contentStyle .btn{
    font-size:1.5em;
    margin-top:20px;
    padding:10px;
    width:150px;
    
}

.btn:hover{
    background-color:hsl(178, 88%, 57%)
}

.dropdown:hover .content{
    display:block;
}

.content img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    border:0.3rem solid hsl(178, 88%, 57%);
    margin-top:15px;
    margin-bottom:15px;
    /* display: block; */
    transition: transform 1s ease-in;    
}
.content img:hover{
    transform:rotate(180deg);
}


main{
    margin : 20px;
}

main .container{
    margin:auto;   
}

main section{
    width:80%;
    float:left;
}

.container fieldset{
    background-color: white;
    font-size:2em;
}

main aside{
    width:10%;
    float:right;
   
}

.vision-mission ,.core-values , .achievements{
    margin:10px;
    padding:20px;
   
    width:1220px;
}

.vision-mission p,video,h2{
    margin:3px;
    
}

.clearfloat {
    clear: both;
}






/***********************************************SYLLABUS.HTML***********************************************************************/

main .syllabus{
    min-width: 1440px;
    margin:20px auto;
    text-align: center;
}

main .syllabus-header h1{
    font-size:3em;
    text-align: center;
}

main ol{
    list-style: none;
}

main ol a{
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-size:2em;
    
}

main ol li{
    display: inline-block;
    margin-left:15%;
    margin-top:30px;
    
}

main ol li:hover{
    border-bottom: 5px solid hsl(178, 88%, 57%);
}

main .subject{
    width:1220px;
    margin:20px auto;
}

main .subject h2{
    font-size: 2em;
    text-align: left;

}

main .subject p{
    margin:20px;
}




/***********************************************TIMETABLE.HTML***********************************************************************/



/***********************************************RESULTS.HTML***********************************************************************/



/***********************************************SYLLABUS.HTML***********************************************************************/



/***********************************************REGISTRATION.HTML***********************************************************************/



.registration form{

    max-width: 600px;
    margin: 5px auto;
    border:4px solid black;
    padding:20px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: white;
    
}

.registration h1{
    font-size:2em;
    margin: auto;
    text-align:center;
}

form label{
    font: size 1.2em;
    font-weight: bold;
}

form input[type="text"]{
    width:100%;
    margin:5px 0px;

}

form input[type="radio"]{
    margin:5px 0px;
}

form textarea{
    width:100%;
}

form input[type="submit"]{
    padding: 10px;
    font-size: 1.1em;
    background-color: hsl(123, 92%, 60%);
    color:white;
    font-weight: bold;
}

form input[type="submit"]:hover{
    background-color: hsl(123, 92%, 45%);
}

.formerror{
    color:red;
    font-size: 0.9em;
}

.formElement{
    margin-bottom: 10px;
    border:2px solid  black;
    padding :20px;
    border-radius:10px;
    background-color: hsl(0, 1%, 82%);
}

form .formElement:hover{
    border-width: 3px;
}




    
    












/***********************************************EXAMS.HTML***********************************************************************/